In [ ]:
###Flight Price Prediction EDA and Feature Engineering

In [2]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
df_train = pd.read_excel('Flight_Price_Pediction\\Data_Train.xlsx')
df_test = pd.read_excel('Flight_Price_Pediction\\Test_set.xlsx')
df_train.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [10]:
final_df = pd.concat([df_train, df_test], ignore_index = True)

In [12]:
final_df.isnull().sum()

Airline               0
Date_of_Journey       0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
dtype: int64

In [13]:
final_df['Date'] = final_df['Date_of_Journey'].str.split('/').str[0]
final_df['Month'] = final_df['Date_of_Journey'].str.split('/').str[1]
final_df['Year'] = final_df['Date_of_Journey'].str.split('/').str[2]

In [15]:
final_df.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,05,2019

In [17]:
final_df['Date'] = final_df['Date'].astype('int64')
final_df['Month'] = final_df['Month'].astype('int64')
final_df['Year'] = final_df['Year'].astype('int64')

In [18]:
final_df.drop(['Date_of_Journey'], axis = 1, inplace = True)

In [22]:
final_df ['Arrival_Time'] = final_df ['Arrival_Time'].apply(lambda x: x.split(' ')[0])

In [31]:
final_df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10

In [24]:
final_df['Arrival_Hour'] = final_df['Arrival_Time'].apply(lambda x: x.split(':')[0])
final_df['Arrival_Minutes'] = final_df['Arrival_Time'].apply(lambda x: x.split(':')[1])

In [26]:
final_df.drop('Arrival_Time', axis = 1, inplace = True)

In [28]:
final_df[['Arrival_Hour', 'Arrival_Minutes']] = final_df[['Arrival_Hour', 'Arrival_Minutes']].astype('int64')

In [32]:
final_df ['Dep_Time'] = final_df ['Dep_Time'].apply(lambda x: x.split(' ')[0])
final_df['Dep_Hour'] = final_df['Dep_Time'].apply(lambda x: x.split(':')[0])
final_df['Dep_Minutes'] = final_df['Dep_Time'].apply(lambda x: x.split(':')[1])
final_df[['Dep_Hour', 'Dep_Minutes']] = final_df[['Dep_Hour', 'Dep_Minutes']].astype('int64')
final_df.drop('Dep_Time', axis = 1, inplace = True)

In [33]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13354 entries, 0 to 13353
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Duration         13354 non-null  object
 5   Total_Stops      13353 non-null  object
 6   Additional_Info  13354 non-null  object
 7   Price            10683 non-null  float64
 8   Date             13354 non-null  int64
 9   Month            13354 non-null  int64
 10  Year             13354 non-null  int64
 11  Arrival_Hour     13354 non-null  int64
 12  Arrival_Minutes  13354 non-null  int64
 13  Dep_Hour         13354 non-null  int64
 14  Dep_Minutes      13354 non-null  int64
dtypes: float64(1), int64(7), object(7)
memory usage: 1.5+ MB

In [36]:
final_df['Total_Stops'] = final_df['Total_Stops'].fillna(final_df['Total_Stops'].mode()[0])

In [37]:
final_df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', '4 stops'],
      dtype=object)

In [38]:
final_df['Total_Stops'] = final_df['Total_Stops'].map({'non-stop': 0, '2 stops': 2, '1 stop':1, '3 stops':3, '4 stops':4})

In [40]:
final_df.drop('Route', axis =1, inplace = True)

In [42]:
final_df.head(8)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes
0,IndiGo,Banglore,New Delhi,2h 50m,0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,7h 25m,2,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,19h,2,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,5h 25m,1,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,4h 45m,1,No info,13302.0,1,3,2019,21,35,16,50
5,SpiceJet,Kolkata,Banglore,2h 25m,0,No info,3873.0,24,6,2019,11,25,9,0
6,Jet Airways,Banglore,New Delhi,15h 30m,1,In-flight meal not included,11087.0,12,3,2019,10,25,18,55
7,Jet Airways,Banglore,New Delhi,21h 5m,1,No info,22270.0,1,3,2019,5,5,8,0

In [53]:
final_df['duration_hour'] = final_df['Duration'].str.split(' ').str[0].str.replace('h','')
final_df['duration_minutes'] = final_df['Duration'].str.split(' ').str[1].str.replace('m','')

In [56]:
final_df[final_df['duration_hour'].str.contains('m')].size

32

In [58]:
final_df = final_df[~final_df['duration_hour'].str.contains('m')]

In [60]:
final_df['duration_hour']  = final_df['duration_hour'].astype('int64')

C:\Users\jaswe\AppData\Local\Temp\ipykernel_40084\3610426170.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['duration_hour']  = final_df['duration_hour'].astype('int64')

In [66]:
final_df['duration_minutes'] = final_df['duration_minutes'].fillna(0)

C:\Users\jaswe\AppData\Local\Temp\ipykernel_40084\895618656.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['duration_minutes'] = final_df['duration_minutes'].fillna(0)

In [67]:
final_df['duration_minutes']  = final_df['duration_minutes'].astype('int64')

C:\Users\jaswe\AppData\Local\Temp\ipykernel_40084\2337789342.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['duration_minutes']  = final_df['duration_minutes'].astype('int64')

In [68]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13352 entries, 0 to 13353
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           13352 non-null  object
 1   Source            13352 non-null  object
 2   Destination       13352 non-null  object
 3   Duration          13352 non-null  object
 4   Total_Stops       13352 non-null  int64
 5   Additional_Info   13352 non-null  object
 6   Price             10682 non-null  float64
 7   Date              13352 non-null  int64
 8   Month             13352 non-null  int64
 9   Year              13352 non-null  int64
 10  Arrival_Hour      13352 non-null  int64
 11  Arrival_Minutes   13352 non-null  int64
 12  Dep_Hour          13352 non-null  int64
 13  Dep_Minutes       13352 non-null  int64
 14  duration_hour     13352 non-null  int64
 15  duration_minutes  13352 non-null  int64
dtypes: float64(1), int64(10), object(5)
memory usage: 1.7+ MB

In [69]:
final_df.drop('Duration', axis = 1, inplace = True)

C:\Users\jaswe\AppData\Local\Temp\ipykernel_40084\2392406175.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop('Duration', axis = 1, inplace = True)

In [70]:
final_df['Duration_in_Minutes'] = (final_df['duration_hour']*60)+final_df['duration_minutes']

C:\Users\jaswe\AppData\Local\Temp\ipykernel_40084\3750989729.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Duration_in_Minutes'] = (final_df['duration_hour']*60)+final_df['duration_minutes']

In [71]:
final_df.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes,duration_hour,duration_minutes,Duration_in_Minutes
0,IndiGo,Banglore,New Delhi,0,No info,3897.0,24,3,2019,1,10,22,20,2,50,170
1,Air India,Kolkata,Banglore,2,No info,7662.0,1,5,2019,13,15,5,50,7,25,445
2,Jet Airways,Delhi,Cochin,2,No info,13882.0,9,6,2019,4,25,9,25,19,0,1140
3,IndiGo,Kolkata,Banglore,1,No info,6218.0,12,5,2019,23,30,18,5,5,25,325
4,IndiGo,Banglore,New Delhi,1,No info,13302.0,1,3,2019,21,35,16,50,4,45,285

In [72]:
final_df.drop(['duration_hour', 'duration_minutes'], axis = 1, inplace = True)

C:\Users\jaswe\AppData\Local\Temp\ipykernel_40084\1093535067.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop(['duration_hour', 'duration_minutes'], axis = 1, inplace = True)

In [73]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13352 entries, 0 to 13353
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Airline              13352 non-null  object
 1   Source               13352 non-null  object
 2   Destination          13352 non-null  object
 3   Total_Stops          13352 non-null  int64
 4   Additional_Info      13352 non-null  object
 5   Price                10682 non-null  float64
 6   Date                 13352 non-null  int64
 7   Month                13352 non-null  int64
 8   Year                 13352 non-null  int64
 9   Arrival_Hour         13352 non-null  int64
 10  Arrival_Minutes      13352 non-null  int64
 11  Dep_Hour             13352 non-null  int64
 12  Dep_Minutes          13352 non-null  int64
 13  Duration_in_Minutes  13352 non-null  int64
dtypes: float64(1), int64(9), object(4)
memory usage: 1.5+ MB

In [74]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
final_df['Airline'] = label_encoder.fit_transform(final_df['Airline'])
final_df['Source'] = label_encoder.fit_transform(final_df['Source'])
final_df['Destination'] = label_encoder.fit_transform(final_df['Destination'])
final_df['Additional_Info'] = label_encoder.fit_transform(final_df['Additional_Info'])

C:\Users\jaswe\AppData\Local\Temp\ipykernel_40084\1866559658.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Airline'] = label_encoder.fit_transform(final_df['Airline'])
C:\Users\jaswe\AppData\Local\Temp\ipykernel_40084\1866559658.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Source'] = label_encoder.fit_transform(final_df['Source'])
C:\Users\jaswe\AppData\Local\Temp\ipykernel_40084\1866559658.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Destination'] = label_encoder.fit_transform(final_df['Destination'])
C:\Users\jaswe\AppData\Local\Temp\ipykernel_40084\1866559658.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Additional_Info'] = label_encoder.fit_transform(final_df['Additional_Info'])

In [75]:
final_df.head(3)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes,Duration_in_Minutes
0,3,0,5,0,8,3897.0,24,3,2019,1,10,22,20,170
1,1,3,0,2,8,7662.0,1,5,2019,13,15,5,50,445
2,4,2,1,2,8,13882.0,9,6,2019,4,25,9,25,1140